@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-black text-gray-100;
    margin: 0;
    padding: 0;
  }
  
  #root {
    position: relative;
  }
}

