.grid-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  background-color: #fff;
  background-image:
    radial-gradient(circle at 0 0, rgba(0,0,0,0.3) 1px, transparent 1px),
    linear-gradient(rgba(0,0,0,0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.08) 1px, transparent 1px);
  background-size:
    calc(100vw / 27) calc(100vw / 27),
    calc(100vw / 27) calc(100vw / 27),
    calc(100vw / 27) calc(100vw / 27);
  background-position:
    0 0,
    0 0,
    0 0;
  background-repeat: repeat;
  transition: background-color 0.2s;
}

.dark .grid-bg {
  background-color: #000;
  background-image:
    radial-gradient(circle at 0 0, rgba(255,255,255,0.3) 1px, transparent 1px),
    linear-gradient(rgba(255,255,255,0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.08) 1px, transparent 1px);
}

